.seen-in{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 30vh;
    margin-bottom: 4%;
}
.seen-in .container{
   margin: 0 auto;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.seen-in .container .title{
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.seen-in .container .companies{
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media (max-width: 960px) {
    .seen-in{
        height: auto;
    }
    .seen-in .container .companies {
        justify-content: center; 
    }
}

@media (max-width: 560px) {
    .seen-in .container .companies {
        flex-direction: column; 
        align-items: center; 
    }

    .seen-in .container .companies img {
        width: 80px; 
        margin: 10px 0;
    }
}