.nums{
display: flex;
width: 100%;
justify-content: center;
align-items: center;
height: 30vh;
}
.nums .container{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
   
}

@media (max-width: 960px) {
    .nums {
        height: auto;
        padding: 0 15px;
    }

    .nums .container {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }
}

/* For screens 460px and below */
@media (max-width: 460px) {
    .nums {
        height: auto;
        padding: 0 10px;
    }

    .nums .container {
        width: 90%;
        flex-direction: column;
        text-align: center;
    }
}





