.home-about{
    width: 100%;
    min-height: 100vh;
    color: #f7f7f7;
    font-family: 'Playfair Display';
    height: 100vh;
}
.home-about .container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}


/*.home-about h2{
    color: #252A2E;
text-align: center;
font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
letter-spacing: 0.28px;
}
.about-company-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    
}
.sub-title{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}
.sub-title span{
    color: #D3874A;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 160%;
letter-spacing: 0.12px;
text-transform: uppercase;
}*/

.about-company-content{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:60% ;
}

.about-left{
    width: 400px;
    height: 400px;
 position: relative;
  top: 0;
  left: 0;
}

.about-right{
   
    width: 50%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}

.image1{
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 400px;
    height: 400px;
}
.image2{
    position: absolute;
    width: 160px;
    height: 160px;
    z-index: 11;
    right: -30px;
    bottom: -15px;
}
.about-right h2{
    color: #252A2E;
    text-align: start;
    font-family: "Playfair Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: 160%; /* 64px */
    letter-spacing: 0.2px;
}

.about-right p{
    color: #252A2E;
font-family: Poppins;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 160%; /* 28.8px */
letter-spacing: 0.09px;
}

/* .about-right .book-btn{
    color: black;
    border: 1px solid black;
  }

  .about-right .book-btn:hover{
    color: #f7f7f7;
  } */
  
  @media screen and (max-width: 960px) {
    .home-about .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-company-content {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .about-left,
    .about-right {
        width: 80%;
        margin-bottom: 20px;
    }

    .about-left {
        height: auto;
    }

    .image1 {
        width: 100%;
        height: auto;
    }

    .image2 {
        width: 100px;
        height: 100px;
        right: -10px;
        bottom: -10px;
    }

    .about-right h2 {
        font-size: 28px;
    }

    .about-right p {
        font-size: 16px;
    }

    .home-about .container > div {
        text-align: center;
    }
}

@media screen and (max-width: 560px) {
    .home-about{
        margin-top: 50px;
    }
    .about-left,
    .about-right {
        width: 90%;
    }

    .image1 {
        width: 100%;
        height: auto;
    }

    .image2 {
        width: 100px;
        height: 100px;
        right: -5px;
        bottom: -5px;
    }

    .about-right h2 {
        font-size: 24px;
    }

    .about-right p {
        font-size: 14px;
    }
    .home-about .btn{
        margin-top: 10px;
        display: block;
    }
}
