.home-services {
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.home-services .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

.services-title {
    width: 60%;
    height: 30%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    width: 100%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.card {
    position: relative;
    width: 285px;
    height: 370px;
    overflow: hidden;
    border-radius: 5px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.32); 
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; 
    z-index: 1; 
    transition: opacity 0.3s ease;
    opacity:0.5; 
}

.card:hover .overlay {
    opacity: 1; 
}

.text {
    color: #F7F7F7;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%; /* 76.8px */
    letter-spacing: 0.24px;
    z-index: 2; 
}
.card-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white; 
    z-index: 1; 
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .card:hover .card-content {
    opacity: 1; 
  }
  