.benefits-area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   background-color: #f7f7f7;
}
.benefits-area .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}
.benefits-title{
    width: 60%;
    height: 30%;
    justify-content: flex-start;
    display: flex;
    align-items: start;
    text-align: start;
}
/* .benefits-title h2{
    color: #252A2E;
font-family: "Playfair Display";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
letter-spacing: 0.24px;
} */