.benefits-area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
   background-color: #f7f7f7;
}
.benefits-area .container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}
.benefits-title{
    width: 60%;
    height: 30%;
    justify-content: flex-start;
    display: flex;
    align-items: start;
    text-align: start;
}
/* .benefits-title h2{
    color: #252A2E;
font-family: "Playfair Display";
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 160%; 
letter-spacing: 0.24px;
} */


@media screen and (max-width: 960px) {
    .benefits-area {
        padding: 15px;
        height: auto;
    }

    .benefits-area .container {
        max-width: 100%; 
    }

    .benefits-title {
        margin-top: 20px;
        width: 80%; 
        font-size: 20px; 
    }
}

/* For screens 560px and below */
@media screen and (max-width: 560px) {
    .benefits-area {
        padding: 10px;
        height: auto;
    }

    .benefits-title {
        width: 100%; 
        font-size: 18px; 
        text-align: center; 
        align-items: center; 
    }

    .benefits-area .container {
        padding: 0 10px; 
    }
}