.plan {
  display: flex;
  height: 130vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 0 auto;
}

.plan .container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.top {
  width: 100%;
  height: 22%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
}

.bottom {
  margin: 40px auto;
  width: 99%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.bottom .plan-card {
  width: 33%;
}

.top-left {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.top-left h2 {
  color: #252A2E;
  font-family: "Playfair Display";
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: 0.24px;
  text-align: start;
}

@media (max-width: 960px) {
  .plan .container {
    align-items: center;
    justify-content: center;
  }

  .top-left h2 {
    font-size: 32px;
    line-height: 140%;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
  }

  .bottom .plan-card {
    display: none;
    width: 80%;
    margin-bottom: 20px;
  }

  .bottom .plan-card:nth-child(2) {
    display: block;
  }

  .top {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 560px) {
  .plan .container {
    align-items: center;
    justify-content: center;
  }

  .top-left h2 {
    font-size: 24px;
    line-height: 130%;
  }

  .bottom {
    flex-direction: column;
    align-items: center;
    height: auto;
    justify-content: center;
  }

  .bottom .plan-card {
    display: none;
    width: 95%;
    margin-bottom: 20px;
  }

  .bottom .plan-card:nth-child(2) {
    display: block;
  }

  .top {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .plan {
    height: auto;
    gap: 24px;
  }
}