.navbar {
    width: 100%;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 11;
    font-family: 'Poppins';
    transition: all 0.3s ease;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    padding: 20px 0;
  }
  
  .logo {
    color: white; 
    transition: color 0.3s;
  }
  
  .logo.black {
    color: black;
  }
  
  .nav-ul {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    
  }
  
  .nav-links {
    display: flex;
    gap: 25px;
  }
  
  .nav-links li {
    list-style: none;
  }
  
  .nav-link {
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.08px;
    transition: color 0.3s;
  }
  
  .nav-link.active-link {
    color: #D3874A; 
  }
  
  .nav-link.black {
    color: black;
  }
  
  .book-btn {
    background-color: transparent;
    border-radius: 24px;
    border: 1px solid #FFF;
    color: white;
    padding: 12px 32px;
    text-decoration: none;
    font-size: 14px;
    transition: background 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    outline: none;
  }
  
  .book-btn.black {
    color: black;
    border-color: black;
  }
  
  .book-btn:hover {
    background: #252A2E;
  }
  
  .hidden {
    display: none;
  }
  
