*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style:none;
  
}
body{
  background-color: #f7f7f7;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
 
  
}